/* ==== Estilos de las tarjetas de productos ==== */
.card-img-wrap {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.detail-main-wrap {
    width: 100%;
    max-width: 620px;
    height: 620px;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}

#detail-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.detail-thumb {
    width: 90px;
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    transition: transform .2s;
}

.detail-thumb:hover {
    transform: scale(1.05);
}